body {
    display: block;
    font-family: 'VT323', monospace;
    text-align: center;
    margin: auto;
    background-color: #888888;
}
#board {
    background-image: url("./assets/GameObjects/background-day.png");
    background-size: cover;
}
#modal {
    display: inline-block;
    position:absolute;
    z-index: 2;
    width: 360px;
    height: 640px;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.4);

}
#modalContent {
    background-color: #f3ddc2;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 15px;
    font-size: 20px;
}

#test {
    position: absolute;
}